.dropdown-wrapper {
  position: relative;
}
.dropdown-items {
    position: absolute;
    z-index: 3;
    border: 2px solid white;
    color: white;
    width: 250px;
    background-color: #0072c6;
    top: 25px;
    right: -2px;
    .dropdown-row {
      margin: 0;
    }
}
.dropdown-row {
  text-align: left;
  width: 100%;
}
.items-xs {
  top: 20px;
}
.dropdown-icon {
  padding-right: 8px;
}
