@import '../../../styles/vendor/hel-components/variables';

.faceted-search-help {
  position: relative;

  button {
    border: solid 1px $black50;
    border-radius: $border-radius-large;
    margin-left: 15px;

    .fa-question.icon-white {
      color: $white;
    }
  }

  button:active,
  button:focus,
  button:hover {
    border: solid 1px $black50;
  }

  .popover {
    padding: 15px;
    top: 110%;
    max-width: 300px;
    width: 300px;
    margin-left: -120px;

    .popover-close {
      position: absolute;
      top: 5px;
      right: 5px;
      background: transparent;
      border: none;
      color: $black50;
    }
  }
}
