.action {
  border-top-color: #658fcd;
  border-top-width: 4px;
  background-color: white;
}
.action-title, .action-title-input {
  margin-bottom: 20px;
  position: relative;
  font-weight: 600;
}
.records {
  padding: 1px 0px 0px 0px;
}
.records-editing {
  margin-bottom: 25px;
}
.action-buttons button {
  margin: 0px 1px;
}
.attribute-label {
  text-transform: uppercase;
  font-size: 0.8em;
}
