.add-box {
  padding: 20px 10px;
  border: 3px dashed grey;
  border-radius: 4px;
  margin: 25px 0px;
}

.edit-record {
  &__checkbox {
    padding: 0 5px;
    margin: 0 -15px;
  }
  &__label {
    padding-right: 0px;
  }
  &__submit, &__cancel {
    margin-left: 10px;
  }
}
