.popup-outer-background {
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
}

.popup-inner-background {
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
}

.has-children-text {
  color: red;
  margin: 30px 0px;
}

.popup-buttons {
  button {
    margin: 0px 7px 10px 7px;
  }
}
