.importable-elements {
  height: 100%;
  max-height: 65vh;
  overflow-y: scroll;
}
.import-wrapper {
    display: inline-block;
    margin-bottom: 9px;
}
.import-row-title {
  display: inline-block;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 4px 7px;
}
.import-phase-title {
  border-left-color: salmon;
}
.import-action-title {
  border-left-color: #658fcd;
}
.import-action-record-wrapper {
  display: inline-block;
  margin-left: 11px;
}
