.phase-title {
  font-size: 1.1em;
  background: white;
}
.phase-title.sticky {
  border-bottom: 1px solid #eee;
  z-index: 2;
}
.title-edit-button {
  margin-left: 8px;
}
.input-title {
  font-size: 1.1em;
}
