.phase {
  border-top-color: salmon;
  border-top-width: 4px;
  background-color: #f2f2f2;
}
.phase-title {
  font-size: 1.1em;
}
.phase-title.sticky {
  border-bottom: 1px solid #eee;
  border-top: 6px solid salmon;
  background-color: #f2f2f2;
  z-index: 2;
}
.title-edit-button {
  margin-left: 8px;
}
.input-title {
  font-size: 1.1em;
}
// this is a hack to fix firefox specific issue of re-rendering phases
// remove once firefox issue is fixed
.update {
  position: absolute;
  z-index: -999999;
  color: transparent;
}
.btn-new-action {
  margin-top: 15px;
}
.phase-buttons {
  position: absolute;
  right: 23px;
  top: 5px;
}
.phase-buttons button {
  margin: 0px 1px;
}
.add-action-buttons {
  padding: 0px;
  button {
    max-width: 90px;
    margin: 0px 2px;
  }
}
