.record {
  position: relative;
  padding: 0px;
}
.record:nth-child(even), .record:nth-child(even) .list-group-item {
  background-color: #f6f6f6;
}
.records .record:nth-child(even) .list-group-item:hover {
  background-color: #f2f2f2;
}
.record-button {
  margin: 0px 1px;
}
.table-key {
  font-weight: bold;
}
.record-button-group {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
}
.record-open {
  border: solid #003380;
  border-width: 1px 0px;
}
