.record {
  border: 1px solid #f2f2f2;
  margin: 0;
  padding: 10px 0;
}
.record:nth-child(odd) {
  background: #f2f2f2;
}
.record-entry {
  margin-bottom: 23px;
}
.record-button {
  margin: 0px 1px;
}
.table-key {
  font-weight: bold;
}
