.record {
  position: relative;
  margin-bottom: 23px;
  padding: 0px;
}
.record-button {
  margin: 0px 1px;
}
.table-key {
  font-weight: bold;
}
.record-button-group {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
}
