.single-tos-container {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
  padding: 15px 0;
}
.single-tos-header {
  padding: 10px 15px;
  background: white;
  z-index: 3;
  transition: 0.3s ease-out all;
}
.single-tos-header.sticky {
  border-bottom: 1px solid #eee;
}
.single-tos-content {
  padding: 15px;
}
.single-tos-header h4 {
  margin: 0;
  transition: 0.3s ease-out all;
}
.box {
  padding: 8px 10px 26px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 25px 0px;
}
.general-info {
  margin-bottom: 40px;
}
.tos-nav {
  margin: 0 -15px 40px -15px;
  padding: 0 15px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.black-icon, .black-icon:hover {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}
.button-row > .btn, .document-buttons > .btn {
  margin: 4px;
}
.version-details {
  display:flex;
  flex-direction: column;
}
.unlocated-title {
  color: black;
}
