.importable-elements {
  height: 100%;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px 0px 1px 1px solid #ededed;
  padding-top: 10px
}
.import-wrapper {
  display: inline-block;
  margin-bottom: 9px;
}
.import-row-title {
  display: inline-block;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 4px 7px;
}
.import-phase-title {
  border-left-color: salmon;
  display: block;
}
.import-action-title {
  border-left-color: #658fcd;
}
.import-action-record-wrapper {
  display: inline-block;
  margin-left: 11px;
}
