.action {
  &.box {
    margin: 0;
  }
  margin: 10px 0;
  border-top-color: #658fcd;
  border-top-width: 4px;
  background-color: white;
  position: relative;
}
.action-title {
  margin-left: 10px;
  position: relative;
  font-weight: 600;
  width: 100%;
  padding: 1px 0 7px;
  &-input {
    margin-right: 15px;
  }
}
.action-title.sticky {
  z-index: 1;
  background-color: #f2f2f2;
  padding-left: 48px;
  left: 0px !important;
  margin-left: 0;
  width: 100% !important;
  border-bottom: 1px solid #cfcfcf;
  // .action-dropdown-button {
  //   right: 53px;
  // }
}
.records {
  padding: 1px 10px 26px;
}
.attribute-labels-container {
  clear: both;
}
.attribute-label {
  text-transform: uppercase;
  font-size: 0.8em;
}

.edit-action-type__input {
  &.form-control {
    padding: 0;
    height: 41px;
  }
  height: 31px;
  padding: 0;
  border: 0;

  .Select-control {
    height: 41px;
    border-radius: 2px;
  }
}

.action-buttons {
  position: absolute;
  right: 25px;
  top: 4px;
  font-size: 14px;
  .action-dropdown-button {
    right: 0;
    top: 0;
    position: relative;
  }
}
.action-attributes {
  margin-bottom: 10px;
  .table-key {
    font-weight: 400;
  }
}

.action-open {
  .basic-attributes {
    height: 20px;
  }
  .list-group-item {
    padding: 10px 15px;
  }
}
