.action {
  border-top-color: #658fcd;
  border-top-width: 4px;
  background-color: white;
  padding: 8px 0px 0px;
}
.action-title {
  margin-left: 10px;
  position: relative;
  z-index: 1;
  font-weight: 600;
  width: 100%;
  padding: 1px 0 7px;
  &-input {
    margin-right: 15px;
    .form-control {
      height: 34px;
    }
  }
}
.action-title.sticky {
  z-index: 1;
  background-color: #f2f2f2;
  padding-left: 48px;
  left: 0px !important;
  margin-left: 0;
  width: 100% !important;
  border-bottom: 1px solid #cfcfcf;
  .action-dropdown-button {
    right: 53px;
  }
}
.records {
  padding: 1px 10px 26px;
}
.attribute-label {
  text-transform: uppercase;
  font-size: 0.8em;
}
.action-dropdown-button {
  position: absolute;
  right: 25px;
  top: 4px;
}
.edit-action-type__input {
  &.form-control {
    padding: 0;
    height: 34px;
  }
  margin-bottom: -10px;
  height: 31px;
  padding: 0;
  border: 0;
  z-index: 999;

  .Select-control {
    height: 31px;
    border-radius: 2px;
  }
}
