.clone__view {

  .importable-elements {
    padding-top: 0;
    overflow: auto;
  }

  .nav-tabs {
    margin-bottom: 15px;

    > li > a {
      cursor: pointer;
    }
  }

  .clone-controls {
    margin-top: 15px;

    .btn {
      margin-left: 1px;
    }
  }
}
