@use 'sass:color';
@import '../../styles/vendor/hel-components/variables';

.helerm-navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__container {
    padding: 0.75rem 1rem;
  }

  &__sub {
    list-style-type: none;
    padding-left: 1.5rem;
  }

  &__item {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    color: var(--color-coat-of-arms);
    justify-content: flex-start;
    background-color: var(--color-white);
    font-weight: 700;
    max-height: var(--spacing-xl);

    &:hover {
      background-color: var(--color-black-5) !important;
      color: var(--color-coat-of-arms) !important;
    }
  }

  &__item--link {
    &:not(:first-child) {
      padding-top: 1rem;
    }

    padding-left: 2rem;
  }

  &__link {
    display: flex;

    &-icon {
      padding-left: 0.5rem;
    }
  }
}
