.single-tos-container {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
  padding: 15px 0;
  margin-bottom: 50px;
}
.single-tos-header {
  padding: 10px 15px;
  background: white;
  z-index: 4;
}
.single-tos-header.sticky {
  padding: 10px 31px;
  border-bottom: 1px solid #eee;
  left: 0px !important;
  width: 100% !important;
}
.helerm-validation-sidebar--opened .single-tos-header.sticky {
  padding-right: 331px;
}
.single-tos-content {
  padding: 15px;
}
.single-tos-header h4 {
  margin: 0 0 10px;
  transition: 0.3s ease-out all;
}
.box {
  padding: 8px 10px 26px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10px 0px;
}
.general-info {
  margin-bottom: 40px;
}
.tos-nav {
  margin: 0 -15px 40px -15px;
  padding: 0 15px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.black-icon, .black-icon:hover {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}
.document-buttons > .btn {
  margin: 4px;
}
.button-row {
  padding: 0px 33px 0px 0px ;
}
.button-row .btn {
  margin: 0 1px;
}
.version-details {
  flex-direction: column;
  margin: 10px 15px;
  padding:10px 15px;
  border: 1px solid #ddd;
}
.unlocated-title {
  color: black;
}
.required-asterisk {
  margin-left: 4px;
  color: black;
}
.required-legend {
  position: absolute;
  top: 10px;
  left: 15px;
}
.metadata-buttons {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1;

  .action-dropdown-button {
    right: 32px;
    top: 0;
  }
}
.action-dropdown-button {
  position: absolute;
  right: 25px;
  top: 4px;
}
.btn-delete {
  color: #fff;
  background-color: #ff4e1e;
  border-color: #ff4e1e;
}
.btn-delete:hover {
  color: #fff;
  background-color: #c4340d;
  border-color: #c4340d;
}

.basic-attributes {
  padding-bottom: 20px;
}
