.phase {
  border-top: 0px;
  background-color: #f2f2f2;
  padding: 0px 0px 10px 0px;

  &.box {
    padding-bottom: 10px;
  }
}
.phase > div:first-child {
  border-top: 4px solid salmon;
  border-radius: 4px;
}
.phase-title {
  font-size: 1.1em;
  padding: 8px 5px 0px;
  position: relative;
  z-index: 2;
  pointer-events: none;
  * {
    pointer-events:all;
  }
  &-input {
    margin-right: 15px;
  }
}
.phase-title.sticky {
  background-color: #f2f2f2;
  z-index: 3;
  margin-left: 0;
  width: 100% !important;
  left: 0px !important;
}
.phase-title.phase-closed.sticky {
  padding: 7px 21px 2px;
  margin-left: 0px;
}
.phase-title.phase-open.sticky {
  padding: 7px 37px 2px;
  left: 0px !important;
  width: 100% !important;
  .phase-buttons {
    right: 52px;
    button {
      padding: 2px 6px;
    }
  }
}
.title-edit-button {
  margin-left: 8px;
}
.input-title {
  font-size: 1em;
}
.input-type {
  font-size: 1em;
}
// this is a hack to fix firefox specific issue of re-rendering phases
// remove once firefox issue is fixed
.update {
  position: absolute;
  z-index: -999999;
  color: transparent;
}
.actions {
  padding: 0px 5px;
}
.phase-buttons {
  position: absolute;
  right: 17px;
  top: 17px;
  z-index: 2;
}
.phase-buttons button {
  margin: 0px 1px;
}
.edit-phase-type__input {
  &.form-control {
    padding: 0;
    height: 34px;
  }
  margin-bottom: -10px;
  height: 31px;
  padding: 0;
  border: 0;
  z-index: 999;

  .Select-control {
    height: 31px;
    border-radius: 2px;
  }
}

.phase-attributes {
  display: inline-block;
  width: 100%;

  .basic-attributes {
    height: 40px;
  }

  .attribute {
    font-size: 15px;
    min-height: 80px;
    border: 3px solid #f2f2f2;
  }

  .edit-attribute__input {
    border: 1px solid #aaa;
  }
}
