.brand-title {
  float: left;
}

.navbar-brand {
  color: #fff !important;
  padding: 15px 5px !important;
  line-height: 40px !important;
  svg {
    height: 40px;
    fill: #fff;
    margin-right: 15px;
    vertical-align: middle;
  }
}
