@import '../../styles/vendor/hel-components/variables';

.missing-attributes {
  margin-bottom: 25px;
}

.missing-attribute {
  .fa {
    color: $brand-danger;
  }
}

.warn-attribute {
  .fa {
    color: $brand-warning;
  }
}

.sidebar-content {
  will-change: min-height;
  h4 {
    margin-bottom: 20px;
  }

  h5 {
    margin: 0 0 10px;
  }

  .sidebar-content-close {
    display: block;
    .sidebar-close-button {
      background: transparent;
      border: none;
      font-size: $font-size-large;
    }
  }

  .sidebar-invalid-content {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }

  .sidebar-invalid-content {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  .sidebar-content-phase {
    > .parent-name {
      font-weight: 700;
    }
  }

  .element-name {
    margin-bottom: 5px;
  }

  .no-missing-attributes {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #009c3d;
    font-size: 120px;
  }

  .sidebar-content-action,
  .sidebar-content-record {
    padding-left: 15px;
  }
}
