$attribute-input-height: 31px;

.attribute {
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding: 15px;

  .table-value {
    line-height: 31px;
    word-wrap: break-word;
  }
}

.basic-attributes {
  // width: 90%;
  .form-control {
    height: 34px;
  }

  .basic-attribute {
    min-height: 23px;


    // &.editable:hover {
    //   border: 1px solid #aaa;
    // }
  }
}

.list-group-item {
  &.attribute {
    min-height: 62px;
  }
}

.edit-attribute__input {
  margin-bottom: -10px;
  height: $attribute-input-height;
  padding: 0;
  border: 1px solid #dce4ec;

  .Select-control {
    height: $attribute-input-height;
    border-radius: 2px;
  }
}

.Select--single > .Select-control .Select-value {
  line-height: $attribute-input-height;
}

.Select-input {
  height: $attribute-input-height;
}

.Select-clear {
  margin-bottom: -4px;
}

.Select--multi {
  height: auto;
}

.Select-menu {
  max-height: 12em;
  overflow: scroll;
}

// .no-attributes {
//   display: none;
// }

.phase-open,
.action-open,
.record-open {
  .basic-attributes {
    padding-bottom: 0;
  }
  // .no-attributes {
  //   display: inline-block;
  //   padding: 10px;
  //   font-weight: 600;
  //   & > span {
  //     border: 1px solid #aaa;
  //     padding: 5px;
  //   }
  // }
}
