.add-box {
  padding: 16px 12px 20px;
  border: 3px dashed grey;
  border-radius: 4px;
  margin: 25px 0px;
}

.action > .add-box {
  margin: 0;
}

.editor-form {
  &__checkbox {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__label {
    padding-left: 10px;
  }
  &__submit, &__cancel {
    margin-left: 10px;
  }

  .Select {
    padding: 0;
    border: none;
    margin-bottom: 10px;
    height: auto;

    .Select-control {
      border: 2px solid #dce4ec;
      border-radius: 0;
      margin: 0;
    }
  }
}

.general-info {
  .add-box {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.no-fields {
  font-size: 22px;
  margin: 22px 0 18px;
  text-align: center;
}
