.core-layout {
  &__wrapper {
    display: flex;
    border-top: 1px solid var(--color-black-30);
  }

  &__navigation {
    z-index: 10;
    min-width: 60vw;
    border-right: 1px solid var(--color-black-30);
  }
}

.helerm-content {
  padding: 0;
}
