.login-link {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 0 !important;
  outline: 0;
  border: 0 !important;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
