<!doctype html>
<html lang="en">
<!--
  git-version: <%= htmlWebpackPlugin.options.VERSION %>
  git commit hash: <%= htmlWebpackPlugin.options.HASH %>
-->
<head>
  <title>Helsingin Kaupunki | Tiedonohjausjärjestelmä</title>
  <meta charset="utf-8">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="root" class="react-app__root" style="height: 100%"></div>
</body>
</html>
