@import '../../styles/vendor/hel-components/variables';

.validation-bar-header {
    position: absolute;
    bottom: 0;
    right: 0;

    .validation-bar-header-container {
        position: absolute;
        top: 2px;
        left: 1px;
        right: 0;
        background-color: $gray-lighter;
        padding: 0 15px;

        .sidebar-close-button {
            background: transparent;
            border: none;
            font-size: $font-size-large;
        }
    }

    .validation-bar-header-filter {
        margin-top: 15px;
        margin-bottom: 5px;
        .btn {
          margin-right: 15px;
          border-radius: 15px;
        }
        .btn:not(.btn-default) {
          background-color: transparent;
          border: none;
          color: $black00;
        }
        .validation-bar-header-filter-warn {
          .fa {
            color: $brand-warning;
          }
        }
        .validation-bar-header-filter-error {
          .fa {
            color: $brand-danger;
          }
        }
      }
}