.helerm-banner {
  position: fixed;
  right: 0;
  top: 90%;
  bottom: auto;

  & > div {
    position: absolute;
    right: 0;
    padding: 0 2px 2px 2px;
    background: #fff;
    box-shadow: 1px 1px 5px #666;
    transform: rotate(90deg);
    transform-origin: right top 0;
    white-space: nowrap;
    margin-left: 25%;

    .helerm-banner__element {
      display: inline-block;
      padding: 0.4em 0.8em;
      color: #fff;
      background-color: #999;
      font-weight: bolder;
    }
  }
}
